 *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
 }
 
section{
    height: 100vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;

}

.parent{
    height: 50%;
    width: 50%;
    gap: 3px;
    display: flex;

}

.child{
    height: 100%;
    width: 100%;
}

.child1{
    background-color: #1E201E;
}

.child2{
    background-color: #A04747;
  
}

.child3{
    background-color: #1E201E;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: flex-end;
}

.child31{
    background-color: #D8A25E;
    height: 50%;
    width: 50%;

}


.child4{
    background-color: #1E201E;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

.child41{
    background-color: #697565;
    height: 50%;
    width: 50%;
    
}

.child5{

    background-color: #1E201E
}

.child6{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #D8A25E;
}

.child61{
    height: 50%;
    width: 30%;
    background-color: #A04747;
}



.child7{
   background-color: #697565;
}

.child8{
  
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 3px;
    
}
.child81{
    background-color: #A04747;
    height: 50%;
    width: 100%;
   
}
.child82{
    background-color: #1E201E;
    height: 50%;
    width: 100%;

}



